<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'><link rel="stylesheet" href="styles/ejsStyle.css">

<header>
    <h1>inserted something into mongo</h1>
    <hr>
</header>
<div class="text-center">
    <form method="GET" action="/read" style="display: inline-block"> 
        <br> 
        <input type="submit" value="Back to Read"> 
    </form>
</div>
<p>woah</p>