<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'><link rel="stylesheet" href="styles/ejsStyle.css">

<h1> update something into mongo</h1>

<h3> my blog posts</h3> 
 <% for (var i=0; i< postData.length; i++ ) { %>
  <form method="POST" action="/update/<%= postData[i]._id %>" style="display: inline-block">  
    <%= postData[i].post %> 
    <input type="submit" value="update"> 
  </form>
  <br/>
<% } %>

<a href="/read">back to the read endpont</a>