@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Maven+Pro&display=swap');

body{
    background-color: black;
}

header{
    background-color: black;
    padding: 10px;
}

footer{
    text-align: center;
}

p{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #008ebd;
}

h4{
    color: white;
}

hr{
    color: rgb(20, 20, 20);
}

a{
    color: #ff0050;
    font-family: 'Josefin Sans', sans-serif;
}

a:hover {
    color: #00f2ea;
  }

#logo{
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card{
    background-color:rgb(20, 20, 20);
    max-width: 600px;
}

.option1{
    height: 30px;
    background-color:#ff0050;
}

.option2{
    height: 30px;
    background-color:#00f2ea;
}

.text1{
    color:#ff0050;  
}

.text2{
    color: #00f2ea;
}

.button1{
    color: white;
    background-color:#ff0050;
    border: none;
}

.button2{
    color: white;
    background-color:#00f2ea;
    border: none;
}

.delete{
    color: white;
    background-color:#aeafaf;
    border: none;
    width: 50px;
}

.new{
    border-color: white;
    background-color:rgb(20, 20, 20);
    color: white;
    width: 80%;
}